<ng-container *ngIf="error; else elseTemplate">
  <ngb-alert [type]="'danger'" [dismissible]="false">
    <div class="alert-body">
      <p>{{ error }}</p>
    </div>
  </ngb-alert>
</ng-container>
<ng-template #elseTemplate>
  <ng-container *ngIf="loading; else notLoading">
    <div class="spinner-grow text-primary mr-50 centerLoading">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-container>
  <ng-template #notLoading>
    <div>
      <div class="row">
        <div class="row m-1">
          <div>
            <h1>Parameters</h1>
          </div>
          <div class="badgeStyle">
            <span class="badge badge-primary" style="font-size: 18px">{{
              userResearch?.parameters?.status
            }}</span>
          </div>
        </div>
        <div class="col editStyle" *ngIf="!edit">
          <button
            class="btn btn-primary mr-1 waves-effect waves-float waves-light"
            (click)="edit = true"
          >
            Edit
          </button>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-sm-6 col-12">
            <div
              class="card"
              [ngClass]="{
                'border-danger': !userResearch?.parameters?.studyDesign,
                'border-success': userResearch?.parameters?.studyDesign
              }"
            >
              <div class="card-body height">
                <h5 class="titlePadding card-title mt-1">Study Design</h5>
                <p class="card-text textPadding">
                  Formulation of trials and experiments, as well as
                  observational studies in research.
                </p>
              </div>
              <div class="card-footer">
                <label class="switch">
                  <input
                    type="checkbox"
                    [(ngModel)]="userResearch.parameters.studyDesign"
                    [disabled]="!edit"
                    (click)="check('studyDesign')"
                  />
                  <span class="slider round">
                    <label
                      *ngIf="userResearch?.parameters?.studyDesign"
                    ></label>
                    <label
                      *ngIf="!userResearch?.parameters?.studyDesign"
                    ></label>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div
              class="card"
              [ngClass]="{
                'border-danger': !userResearch?.parameters?.monitoring,
                'border-success': userResearch?.parameters?.monitoring
              }"
            >
              <div class="card-body height">
                <h5 class="titlePadding card-title mt-1">Monitoring</h5>
                <p class="card-text textPadding">
                  Observe and check the progress or quality over a period of
                  time.
                </p>
              </div>
              <div class="card-footer">
                <label class="switch" for="ccc">
                  <input
                    type="checkbox"
                    id="ccc"
                    [(ngModel)]="userResearch.parameters.monitoring"
                    [disabled]="!edit"
                    (click)="check('monitoring')"
                  />
                  <span class="slider round">
                    <label *ngIf="userResearch?.parameters?.monitoring"></label>
                    <label
                      *ngIf="!userResearch?.parameters?.monitoring"
                    ></label>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="card">
              <div class="card-body height">
                <div class="one-contibuter">
                  {{ commonParameters.submission ? "DONE" : "OPEN" }}
                </div>
                <h5 class="titlePadding card-title mt-n">Submission</h5>
                <p class="card-text textPadding">
                  Giving a document, proposal, piece of writing.
                </p>
              </div>
              <div class="card-footer">
                <label class="switch">
                  <input
                    type="checkbox"
                    [(ngModel)]="userResearch.parameters.submission"
                    [disabled]="!edit || commonParameters.submission"
                    (click)="check('submission')"
                  />
                  <span class="slider round">
                    <label *ngIf="userResearch?.parameters?.submission"></label>
                    <label
                      *ngIf="!userResearch?.parameters?.submission"
                    ></label>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div
              class="card"
              [ngClass]="{
                'border-danger': !userResearch.parameters.groupHiring,
                'border-success': userResearch.parameters.groupHiring
              }"
            >
              <div class="card-body height">
                <h5 class="titlePadding card-title mt-1">Group Hiring</h5>
                <p class="card-text textPadding">
                  Teaming of people tasked with filling a vacant position(s).
                </p>
              </div>
              <div class="card-footer">
                <label class="switch">
                  <input
                    type="checkbox"
                    [(ngModel)]="userResearch.parameters.groupHiring"
                    [disabled]="!edit"
                    (click)="check('groupHiring')"
                  />
                  <span class="slider round">
                    <label *ngIf="userResearch.parameters.groupHiring"></label>
                    <label *ngIf="!userResearch.parameters.groupHiring"></label>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="card border-primary">
              <div class="card-body height">
                <div
                  class="closed"
                  *ngIf="!commonParameters.manuscriptDrafting"
                >
                  CLOSED
                </div>
                <h5
                  class="titlePadding card-title"
                  [ngClass]="{
                    'mt-1': commonParameters.manuscriptDrafting,
                    'mt-n': !commonParameters.manuscriptDrafting
                  }"
                >
                  Manuscript Drafting
                </h5>
                <p class="card-text textPadding">
                  Preliminary status of the manuscript in which the write up is
                  yet to be put in shape.
                </p>
              </div>
              <div class="card-footer">
                <label style="transform: translate(10px, 20px); color: #0e6e94"
                  >{{ userResearch.parameters.manuscriptDrafting }}%</label
                >
                <input
                  type="range"
                  min="0"
                  [max]="commonParameters.manuscriptDrafting"
                  [(ngModel)]="userResearch.parameters.manuscriptDrafting"
                  [disabled]="!edit"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="card border-primary">
              <div class="card-body height">
                <div class="closed" *ngIf="!commonParameters.fund">CLOSED</div>
                <h5
                  class="titlePadding card-title"
                  [ngClass]="{
                    'mt-1': commonParameters.fund,
                    'mt-n': !commonParameters.fund
                  }"
                >
                  Fund
                </h5>
                <p class="card-text textPadding">
                  Money saved for a particular purpose.
                </p>
              </div>
              <div class="card-footer">
                <label style="transform: translate(10px, 20px); color: #0e6e94">
                  {{ userResearch.parameters.fund }}%
                </label>
                <input
                  type="range"
                  min="0"
                  [max]="commonParameters.fund"
                  [(ngModel)]="userResearch.parameters.fund"
                  [disabled]="!edit"
                />
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-12">
            <div class="card border-primary">
              <div class="card-body height">
                <div class="closed" *ngIf="!commonParameters.dataCollection">
                  CLOSED
                </div>
                <h5
                  class="titlePadding card-title"
                  [ngClass]="{
                    'mt-1': commonParameters.dataCollection,
                    'mt-n': !commonParameters.dataCollection
                  }"
                >
                  Data Collection
                </h5>
                <p class="card-text textPadding">
                  Gathering and measuring information on targeted variables in
                  an established system, which then enables one to answer
                  relevant questions and evaluate outcomes.
                </p>
              </div>
              <div class="card-footer">
                <label style="transform: translate(10px, 20px); color: #0e6e94"
                  >{{ userResearch.parameters.dataCollection }}%</label
                >
                <input
                  type="range"
                  min="0"
                  [max]="commonParameters.dataCollection"
                  [(ngModel)]="userResearch.parameters.dataCollection"
                  [disabled]="!edit"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="card border-primary">
              <div class="card-body height">
                <div [class]="commonParameters.studyPlan ? 'must' : 'closed'">
                  {{ commonParameters.studyPlan ? "MUST" : "CLOSED" }}
                </div>
                <h5 class="titlePadding card-title mt-n">Study Plan</h5>
                <p class="card-text textPadding">
                  Schedules that designate studying times and learning
                  objectives for specific project.
                </p>
              </div>
              <div class="card-footer">
                <label style="transform: translate(10px, 20px); color: #0e6e94"
                  >{{ userResearch.parameters.studyPlan }}%</label
                >
                <input
                  type="range"
                  min="0"
                  [max]="commonParameters.studyPlan"
                  [(ngModel)]="userResearch.parameters.studyPlan"
                  [disabled]="!edit"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="card border-primary">
              <div class="card-body height">
                <div
                  [class]="commonParameters.responsibility ? 'must' : 'closed'"
                >
                  {{ commonParameters.responsibility ? "MUST" : "CLOSED" }}
                </div>
                <h5 class="titlePadding card-title mt-n">Responsibility</h5>
                <p class="card-text textPadding">
                  The state of being accountable
                </p>
              </div>
              <div class="card-footer">
                <label style="transform: translate(10px, 20px); color: #0e6e94"
                  >{{ userResearch.parameters.responsibility }}%</label
                >
                <input
                  type="range"
                  min="0"
                  [max]="commonParameters.responsibility"
                  [(ngModel)]="userResearch.parameters.responsibility"
                  [disabled]="!edit"
                />
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-12">
            <div class="card border-primary">
              <div class="card-body height">
                <div
                  [class]="
                    commonParameters.manuscriptReview ? 'must' : 'closed'
                  "
                >
                  {{ commonParameters.manuscriptReview ? "MUST" : "CLOSED" }}
                </div>
                <h5 class="titlePadding card-title mt-n">Manuscript review</h5>
                <p class="card-text textPadding">
                  Understanding everything written for correction and
                  suggestions.
                </p>
              </div>
              <div class="card-footer">
                <label style="transform: translate(10px, 20px); color: #0e6e94"
                  >{{ userResearch.parameters.manuscriptReview }}%</label
                >
                <input
                  type="range"
                  min="0"
                  [max]="commonParameters.manuscriptReview"
                  [(ngModel)]="userResearch.parameters.manuscriptReview"
                  [disabled]="!edit"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="card border-primary">
              <div class="card-body height">
                <div [class]="commonParameters.revising ? 'must' : 'closed'">
                  {{ commonParameters.revising ? "MUST" : "CLOSED" }}
                </div>
                <h5 class="titlePadding card-title mt-n">Revising</h5>
                <p class="card-text textPadding">
                  Rewriting for corrections or explanation.
                </p>
              </div>
              <div class="card-footer">
                <label style="transform: translate(10px, 20px); color: #0e6e94"
                  >{{ userResearch.parameters.revising }}%</label
                >
                <input
                  type="range"
                  min="0"
                  [max]="commonParameters.revising"
                  [(ngModel)]="userResearch.parameters.revising"
                  [disabled]="!edit"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="card border-primary">
              <div class="card-body height">
                <div *ngIf="!commonParameters.citation" class="closed">
                  CLOSED
                </div>
                <h5
                  class="titlePadding card-title"
                  [ngClass]="{
                    'mt-1': commonParameters.citation,
                    'mt-n': !commonParameters.citation
                  }"
                >
                  Citation
                </h5>
                <p class="card-text textPadding">Scholar quotation.</p>
              </div>
              <div class="card-footer">
                <label style="transform: translate(10px, 20px); color: #0e6e94"
                  >{{ userResearch.parameters.citation }}%</label
                >
                <input
                  type="range"
                  min="0"
                  [max]="commonParameters.citation"
                  [(ngModel)]="userResearch.parameters.citation"
                  [disabled]="!edit"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div
              class="card"
              [ngClass]="{
                'border-danger': !userResearch.parameters.idea,
                'border-success': userResearch.parameters.idea
              }"
            >
              <div class="card-body height">
                <h5 class="titlePadding card-title mt-1">Idea</h5>
                <p class="card-text textPadding">
                  Thought of solution, plan or invention.
                </p>
              </div>
              <div class="card-footer">
                <label class="switch">
                  <input
                    type="checkbox"
                    [(ngModel)]="userResearch.parameters.idea"
                    [disabled]="!edit"
                    (click)="check('idea')"
                  />
                  <span class="slider round">
                    <label *ngIf="userResearch.parameters.idea"></label>
                    <label *ngIf="!userResearch.parameters.idea"></label>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="card">
              <div class="card-body height">
                <div class="one-contibuter">
                  {{ commonParameters.irb ? "DONE" : "OPEN" }}
                </div>
                <h5 class="titlePadding card-title mt-n">IRB</h5>
                <p class="card-text textPadding">
                  Institutional review board (IRB): Committee for independent
                  ethical approval in the same place.
                </p>
              </div>
              <div class="card-footer">
                <label class="switch">
                  <input
                    type="checkbox"
                    [(ngModel)]="userResearch.parameters.irb"
                    [disabled]="!edit || commonParameters.irb"
                    (click)="check('irb')"
                  />
                  <span class="slider round">
                    <label *ngIf="userResearch.parameters.irb"></label>
                    <label *ngIf="!userResearch.parameters.irb"></label>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div
              class="card"
              [ngClass]="{
                'border-danger': !userResearch.parameters.dataAnalysis,
                'border-success': userResearch.parameters.dataAnalysis
              }"
            >
              <div class="card-body height">
                <h5 class="titlePadding card-title mt-1">Data Analysis</h5>
                <p class="card-text textPadding">
                  A process of inspecting, cleansing, transforming, and modeling
                  information.
                </p>
              </div>
              <div class="card-footer">
                <label class="switch">
                  <input
                    type="checkbox"
                    [(ngModel)]="userResearch.parameters.dataAnalysis"
                    [disabled]="!edit"
                    (click)="check('dataAnalysis')"
                  />
                  <span class="slider round">
                    <label *ngIf="userResearch.parameters.dataAnalysis"></label>
                    <label
                      *ngIf="!userResearch.parameters.dataAnalysis"
                    ></label>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div
              class="card"
              [ngClass]="{
                'border-danger': !userResearch.parameters.inquiry,
                'border-success': userResearch.parameters.inquiry
              }"
            >
              <div class="card-body height">
                <h5 class="titlePadding card-title mt-1">Inquiry</h5>
                <p class="card-text textPadding">
                  Asking for information for augmenting knowledge, resolving
                  doubt, or solving a problem.
                </p>
              </div>
              <div class="card-footer">
                <label class="switch">
                  <input
                    type="checkbox"
                    [(ngModel)]="userResearch.parameters.inquiry"
                    [disabled]="!edit"
                    (click)="check('inquiry')"
                  />
                  <span class="slider round">
                    <label *ngIf="userResearch.parameters.inquiry"></label>
                    <label *ngIf="!userResearch.parameters.inquiry"></label>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div
              class="card"
              [ngClass]="{
                'border-danger': !userResearch.parameters.presentation,
                'border-success': userResearch.parameters.presentation
              }"
            >
              <div class="card-body height">
                <h5 class="titlePadding card-title mt-1">Presentation</h5>
                <p class="card-text textPadding">
                  Showing an outcome in conferences.
                </p>
              </div>
              <div class="card-footer">
                <label class="switch">
                  <input
                    type="checkbox"
                    [(ngModel)]="userResearch.parameters.presentation"
                    [disabled]="!edit"
                    (click)="check('presentation')"
                  />
                  <span class="slider round">
                    <label *ngIf="userResearch.parameters.presentation"></label>
                    <label
                      *ngIf="!userResearch.parameters.presentation"
                    ></label>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-1" *ngIf="edit">
          <div class="col" style="text-align: right">
            <button
              type="button"
              class="btn btn-primary m-1"
              (click)="submit('Pending Validation')"
            >
              Send to validate
            </button>
            <button
              type="button"
              class="btn btn-primary m-1"
              (click)="submit('In Progress')"
            >
              Save
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary m-1"
              (click)="exit()"
            >
              Exit
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>
